<div id="<%= image.id %>">
  <div class="col s4">
    <div class="card">
      <div class="card-image">
        <%= image_tag(image.variant(resize_to_limit: [300,200])) %>
      </div>
      <div class="card-action">
        <a href="javascript:void(0)" onclick="deletePhoto(<%= image.id %>)">Apagar</a>
      </div>
    </div>
  </div>
</div>

<script>
  var deleted_images = []
  function deletePhoto(id) {
    var element = document.getElementById(id)
    element.parentNode.removeChild(element)
    deleted_images.push(id)
    document.getElementById('real_estate_deleted_values').value = deleted_images
  }
</script>
           