<div id="page-header">
  <div id="page-header-topbar">
    <div id="page-header-logo">
      <div id="public-page-logo">
        <span id="public-page-logo-text">Marfran Imóveis</span>
      </div>
    </div>
  </div>
  <nav>
    <div id="page-header-navbar">
      <ul>
        <li class="page-header-menu-item">
          <a href="#">Início</a>
        </li>
        <li class="page-header-menu-item menu-item-right">
          <a href="#">Comprar</a>
        </li>
        <li class="page-header-menu-item menu-item-right">
          <a href="#">Alugar</a>
        </li>
        <li class="page-header-menu-item menu-item-right">
          <a href="#">Contato</a>
        </li>
      </ul>
    </div>
  </nav>
</div>