<nav class="nav-extended black">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo main-logo">Marfran Imóveis</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
    <div class="nav-content">
      <ul class="tabs tabs-transparent">
        <li class="tab">
          <a href="#">Início</a>
        </li>
        <li class="tab">
          <a href="#">Comprar</a>
        </li>
        <li class="tab">
          <a href="#">Alugar</a>
        </li>
        <li class="tab">
          <a href="#">Contato</a>
        </li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="#">Início</a></li>
    <li><a href="#">Comprar</a></li>
    <li><a href="#">Alugar</a></li>
    <li><a href="#">Contato</a></li>
  </ul>