/*
*= require material_icons
*/

@import "materialize/components/color-variables";

$primary-color: #2a2a2a !default;
$secondary-color: #2a2a2a !default;

@import "materialize";
html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.main-logo {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-left: 3%;
}

.bg-image {
  max-height: 100%;
  max-width: 100%;
}

.welcome-text {
  padding: 1%;
  font-family: 'Times New Roman', Times, serif;
}

.real-estate-card .card-content {
  padding-top: 1%;
}

.real-estate-card-search .card-content {
  padding: 0;
}

.real-estate-name {
  font-size: 17pt;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.real-estate-price {
  margin-bottom: 0;
}

.real-estate-price p {
  font-size: 15pt;
  font-weight: bold;
}

.real-estate-rooms {
  font-size: 9pt;
  color: #555;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.real-estate-card .card-actions {
  color: #575858
}

.real-estate-price {
  font-weight: bold;
  font-size: 14pt;
}

.price-text {
  font-size: 11pt;
  color: #2a2a2a;
}