<div class="section white">
      <div class="row container">
        <%= search_form_for @q, url: search_real_estate_index_path do |form| %>
          <div class="input-field col s6">
            <%= form.label :name_or_description_cont %>
            <%= form.search_field :name_or_description_cont %>
            <%= form.submit %>
          </div>
        <% end %>
      </div>
</div>