<div class="parallax-container center valign-wrapper" id="laws">
  <div class="row">
    <div class="col white-text">
      <h3 class="black center-align welcome-text">Departamento jurídico próprio</h3>
    </div>
  </div>
  <div class="parallax">
    <img src="<%= asset_path('indexbg4.jpg')%>" class="bg-image" />
  </div>
</div>