<div class="section white" id="renting">
  <div class="container">
    <h4>Imóveis para alugar</h4>
    <div class="divider"></div>
    <div class="row">
      <% if @renting.any? %>
        <% @renting.each do |real_estate| %>
          <div class="col s4">
            <%= render partial: "shared/featuring_real_estate_card", locals: {real_estate: real_estate} %>
          </div>
        <% end %>
      <% else %>
        Nada a exibir agora!
      <% end %>
    </div>
  </div>
</div>