<div class="container">
  <div class="row center-align">
    <h4>Contato</h4>
  </div>
  <div class="divider"></div>
    <div class="row">
      <div class="col s6">
        <h5 class=" center-align">Endereço</h5>
        <p>
          Av. Bolonha, 383
          <br>
          05334-000
          <br>
          Jaguaré, São Paulo
        </p>
        <%= render 'maps_embed' %>
      </div>
      <div class="col s6">
        <h5 class="center-align">Contatos</h5>
        <p>(11) 3714-5456</p>
        <p>
          <a href="mailto: marfranimoveismf@gmail.com">
            marfranimoveismf@gmail.com
          </a>
        </p>
      </div>
    </div>
      
</div>